.game-page-shop {
  height: 100vh;
  width: 100vw;
  background: url(second.jpg);
  background-size: cover;
}

.game-item-shop {
  display: flex;
  height: 40vh;
  width: 100%;
  border: 3px solid white;
  background: transparent;
  /* opacity: 0.6;
    filter: blur(5px); */
  margin-bottom: 50px;
  border-radius: 0 50px 0 0;
}

.content-shop {
  height: 90vh;
  width: 85%;
  overflow: auto;
  align-items: flex-start;
  justify-content: flex-start;
}

.content-shop::-webkit-scrollbar {
  display: none;
}

.image-shop {
  display: flex;
  height: 100%;
  width: 20%;
}

.image-image-shop {
  /* height: 400px;
    width: 300px; */
  height: 100%;
  width: 100%;
}

.header-shop {
  color: white;
  font-family: "Advent Pro", sans-serif;
}

.cont-shop {
  width: 80%;
  height: auto;
  align-items: center;
  padding: 30px;
  color: white;
  font-family: "Advent Pro", sans-serif;
}

.game-page-1-shop {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
