body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	height: 100vh;
}

.App {
	text-align: center;
	height: 400vh;
	width: 100vw;
}

img {
	height: 350px;
	width: 280px;
}

.game4u-logo {
	font-family: 'Share Tech Mono', monospace;
	font-size: 50px;
	font-weight: bold;
	color: hsl(0, 0%, 100%);
	margin: 0;
	padding: 0;
}

.App {
	height: 400vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main-div-one {
	height: 100vh;
	width: 100vw;
	background: url("assets/home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

.main-div-two {
	height: 100vh;
	width: 100vw;
	background: url("assets/rest.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

.main-div-three {
	height: 100vh;
	width: 100vw;
	background: url("assets/rest.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

.main-div-four {
	height: 100vh;
	width: 100vw;
	background: url("assets/rest.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

.header-div {
	display: flex;
	height: 10vh;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	padding: 0;
	margin: 0;
}

.main-div-one-content {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 100px;
}

.main-one-footer {
	height: 10vh;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: center;
	position: fixed;
	bottom: 0;
}

.game4u-nav {
	list-style-type: none;
	display: flex;
	color: #ffffff;
	font-size: 20px;
	width: 30%;
	justify-content: space-between;
	align-items: center;
	font-family: 'Advent Pro', sans-serif;
	margin: 0;
	padding: 0;
}

.header-search {
	display: flex;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Advent Pro', sans-serif;
	align-items: center;
	margin: 0;
	padding: 0;
}

.filter-two {
	display: flex;
	height: 10vh;
	width: 85%;
	align-items: center;
	justify-content: space-between;
	align-self: center;
	margin-top: 30px;
}

.header-div-two {
	height: 10vh;
	width: 100%;
}

.div-games {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	width: 90%;
	height: auto;
	align-self: center;
}

.div-games-all {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3%;
	width: 90%;
	height: 65vh;
	align-self: center;
	overflow: auto;
	flex-wrap: wrap;
}

.div-games-of-the-year {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 17vw;
	height: 65vh;
	align-self: center;
	overflow: auto;
}

.div-games-all::-webkit-scrollbar {
	display: none;
}

.div-game {
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 5%;
	border: 1px solid white;
	padding: 5px;
	border-radius: 0 0 20px 0;
}

.game-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

ul {
	display: flex;
	list-style-type: none;
}

li {
	transition: 0.4s ease-in-out;
	text-decoration-line: line-through;
	text-decoration-color: transparent;
}
li:hover {
	text-decoration-line: line-through;
	text-decoration-color: white;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #505050;
	border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: hsl(185, 100%, 81%);
	border-radius: 10px;
	transition: 0.4s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(0, 161, 211);
}

.rounded-corners {
	border: 0.5px solid #efdab9;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	overflow: hidden;
}

.Grid td,
.Grid th {
	border: 0.5px solid #efdab9;
	text-align: center;
}

.btn-buy {
	background: transparent;
	font-family: 'Share Tech Mono', monospace;
	color: hsl(185, 100%, 81%);
	border: 1px solid hsl(185, 100%, 81%);
	border-radius: 0 0 15px 0;
	transition: 0.4s ease-in-out;
}

.btn-buy:hover {
	background: hsl(185, 100%, 81%);
	color: rgb(36, 36, 36);
}

.footer-three {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: white;
	font-size: 20px;
	font-family: 'Advent Pro', sans-serif;
	align-items: center;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.filter-btn {
	background: transparent;
	border: 1px solid transparent;
	color: white;
	font-family: 'Advent Pro', sans-serif;
	font-size: 30px;
	padding: 0;
	margin: 0;
}

.turn-to-min::before {
	content: '+';
}

.filter-btn:focus .turn-to-min::before {
	content: '';
}

.filter-btn:focus .turn-to-min::after {
	content: '-';
}

.filter-div {
	display: flex;
	color: turquoise;
	width: 30%;
	align-self: center;
	align-items: center;
	justify-content: space-between;
	font-family: 'Advent Pro', sans-serif;
	height: 30px;
}

.filter-by {
	margin: 0;
	padding: 0;
}

.span {
	height: 20px;
	width: 20px;
	border: 1px solid #00ffd5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	color: white;
	align-self: flex-end;
	font-family: 'Advent Pro', sans-serif;
	top: 6px;
}
.spann {
	height: 50px;
	width: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.svg {
	fill: #00ffd5;
}

#games-all {
	display: flex;
	visibility: visible;
	z-index: 1;
}
#games-ps4 {
	display: none;
	visibility: hidden;
	z-index: 3;
}
#games-xbox {
	display: none;
	visibility: hidden;
	z-index: 4;
}
#games-pc {
	display: none;
	visibility: hidden;
	z-index: 5;
}

.side-nav-filter {
	display: none;
	flex-direction: column;
	height: 100vh;
	width: 0vw;
	background: #0e0e0e;
	align-self: flex-end;
	right: 0;
	position: absolute;
	z-index: 99;
	border-radius: 0px 0 0 100px;
	transition: 0.4s ease-in-out;
}

.inner-1 {
	height: 40vh;
	width: 100%;
	background: #0e0e0e;
}

.inner-2 {
	height: 30vh;
	width: 100%;
	background-image: linear-gradient(#0e0e0e, #0e0e0e);
	margin-bottom: 50px;
}

.inner-3 {
	height: 30vh;
	width: 100%;
	background-image: linear-gradient(#0e0e0e, #0e0e0e);
}

.side-h {
	color: white;
	font-family: 'Advent Pro', sans-serif;
	font-size: 60px;
	padding: 0;
	margin: 0 0 0 0;
}

.side-hh {
	margin: 40px 10px 20px 10px;
	color: white;
	font-family: 'Advent Pro', sans-serif;
	font-size: 30px;
	padding: 0;
}

.btn-f {
	display: flex;
	flex-direction: column;
}

.btn-group {
	display: flex;
}
.side-hhh {
	color: white;
	font-family: 'Advent Pro', sans-serif;
	font-size: 20px;
	padding: 0;
}

.inputBox {
	color: #00ffd5;
	width: 300px;
	height: 50px;
	font-size: 20px;
	background: transparent;
	border: 1px solid #00ffd5;
	padding-left: 15px;
	font-family: 'Advent Pro', sans-serif;
	border-radius: 0 0 30px 0;
}

.inputBox::placeholder {
	color: #9b9b9b;
}

.btn-Filter {
	width: 200px;
	background: transparent;
	border: 3px solid white;
	font-size: 35px;
	color: white;
	font-family: 'Advent Pro', sans-serif;
	margin: 5px;
	transition: 0.4s ease-in-out;
	mix-blend-mode: difference;
}

.div-side-nav-filter {
	height: 100vh;
	width: 30vh;
	position: absolute;
	background: #0e0e0e;
}

.div-similar-games-all {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65vh;
	align-self: center;
	overflow: auto;
	flex-wrap: wrap;
}

.side-nav-bar-filter {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: url("assets/navbar.png");
	z-index: 101;
	/* background: #181818; */
	align-self: flex-end;
	font-family: 'Advent Pro', sans-serif;
	align-items: flex-start;
	justify-content: flex-start;
	transition: 0.4s ease-in-out;
}

.div-filter {
	display: flex;
	flex-direction: column;
	overflow: auto;
	align-items: center;
}

.div-filter::-webkit-scrollbar {
	display: none;
}

.btn-Close {
	background: transparent;
	border: 1px solid white;
	color: white;
	font-family: 'Advent Pro', sans-serif;
	font-size: 30px;
}

.btn-header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	border-bottom: 3px solid white;
	transition-delay: 0.2s;
}

.btn-header-close {
	visibility: hidden;
}

.main-div-one-close,
.main-div-two-close,
.main-div-four-close {
	display: none;
}

.filters-company-all{
	display: flex;
    flex-direction: column;
    overflow: auto;
}

.btn-Filter-Active{

	width: 200px;
	background: white;
	border: 3px solid black;
	font-size: 35px;
	color: black;
	font-family: 'Advent Pro', sans-serif;
	margin: 5px;
	transition: 0.4s ease-in-out;
}