body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 300vh;
}
h1 {
	padding: 0;
	margin: 0;
}

.div-game {
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 5%;
	border: 1px solid white;
	padding: 5px;
	border-radius: 0 0 20px 0;
}

.divImage {
	height: 80%;
	width: 95%;
}

.divContent {
	display: flex;
	flex-direction: column;
	height: 20%;
	width: 98%;
	align-items: center;
	justify-content: space-between;
}

.divPrice-Btn {
	display: flex;
	height: 50%;
	width: 100%;
	justify-content: space-between;
}

.divTitle {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.divPrice {
	height: 100%;
	width: 50%;
}
.divBtn {
	height: 100%;
	width: 50%;
}
