.game-page {
  height: 200vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000000;
}

.game-page-1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-page-2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./rest.jpg");
  background-size: cover;
}

.game-page-3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./rest.jpg");
  background-size: cover;
}

.header {
  height: 10vh;
  width: 95vw;
  align-self: center;
  justify-content: space-around;
}

p {
  color: white;
  mix-blend-mode: difference;
  font-size: 25px;
  font-family: "Advent Pro", sans-serif;
  font-weight: bold;
}

.content {
  margin-top: 5vh;
  width: 100vw;
  height: 75vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-synopsis {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.synopsis {
  color: white;
  font-size: 45px;
  font-family: "Advent Pro", sans-serif;
  mix-blend-mode: difference;
  font-weight: bold;
}

.synopsis-eve {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: flex-end;
  mix-blend-mode: difference;
  border: 10px solid white;
  border-radius: 0 0 50px 0;
  padding: 5px;
}

.footer {
  height: 10vh;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-Similar {
  background: transparent;
  font-size: 50px;
  font-family: "Advent Pro", sans-serif;
  border: 5px solid white;
  color: white;
  mix-blend-mode: difference;
}

.similar-games {
  width: 80%;
  height: 50vh;
  /* margin-top: 3vh; */
}

.banner {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

video {
  object-fit: fill;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
}

.cont-similar {
  position: absolute;
  z-index: 100;
}

.loader-div {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: rgb(27, 27, 27);
  z-index: 100;
  transition: 1s ease-in-out;
}

@-webkit-keyframes expand {
  0% {
    z-index: 2;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    z-index: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    z-index: 0;
  }
}
@keyframes expand {
  0% {
    z-index: 2;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    z-index: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    z-index: 0;
  }
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  width: 38px;
  height: 38px;
  background-color: rgb(27, 27, 27);
  border-radius: 50%;
  box-shadow: 0 0 0 6.6666666667px #ffffff;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: -20px 0 0 -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.loader::before {
  background-color: #ffffff;
  -webkit-animation: expand 1.6s ease-out infinite both;
  animation: expand 1.6s ease-out infinite both;
}
.loader::after {
  background-color: rgb(27, 27, 27);
  -webkit-animation: expand 1.6s ease-out 0.8s infinite both;
  animation: expand 1.6s ease-out 0.8s infinite both;
}
